$primary-color: black;
$secondary-color: #eee;
$white-color: #fff;
$grey-color: #555;
$light-grey-color: #777;
$light-blue-color: rgba(71, 132, 218, 0.5);
$dark-blue-color: rgba(18, 115, 255, 0.3);
$faded-blue-color: rgba(73, 111, 163, 0.5);
$off-white-color: rgb(224, 227, 240);
